@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.testdiv{
    position: fixed;
    border: 1px solid black;
    width: 150px;
    display: none;
    left: 0;
}
.main-container{
    border: 1px solid black;
    padding: 30px 30px 20px 30px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    position: relative;
}

.info-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}
/* ------------------------------------------------------------------------------ */

.button-container{
    justify-self: end;
    width: 100%;
    padding: 0px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
}
.github{
    justify-self: center;
}
.board-container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    margin: 20px 0px;
}
.history-mode{
    display: none;
    margin: 20px 0px;
    border: 1px solid black;
    width: 450px;
    height: 450px;
    grid-template-columns: 1fr;
    grid-auto-rows: 80px;
    overflow-y:auto
}

/* ------------------------------------------------------------------------------ */

.square{
    border: 0.1px solid rgba(168, 162, 162, 0.83);
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: 'Permanent Marker', cursive;
    color: rgb(47, 50, 74);

}
.square-hover:hover{

}

.square:first-child,.square:nth-child(2),.square:nth-child(3){
    border-top: none;
}
.square:first-child,.square:nth-child(4),.square:nth-child(7){
    border-left: none;
}
.square:nth-child(7),.square:nth-child(8),.square:nth-child(9){
    border-bottom: none;
}
.square:nth-child(3),.square:nth-child(6),.square:nth-child(9){
    border-right: none;
}
/* ------------------------------------------------------------------------------ */

.player-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.toggle-container{
    width: 60px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}
.toggle{
    border-radius: 5px;
    width: 50%;
    height: 100%;
    background-color:rgb(168, 168, 193);
    transition: transform 0.2s linear;
    transform: none;
    text-align: center;
}
.toggle-1-O{
    transform: translateX(100%);
}

.toggle-2{
    transform: translateX(100%);
}
.toggle-2-X{
    transform: none;
}


input{
  text-align: center;
}
/* ------------------------------------------------------------------------------ */
.drop-down{
    position: relative;
    width: 100%;
    user-select: none;
    border: 0.5px solid rgba(9, 7, 7, 0.353);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}


.arrows{
    width: 18px;
    z-index: -1;
}
.drop-text-1,.drop-text-2{
    z-index: -1;
}
.menu-1, .menu-2{
    visibility: hidden;

}
.menu{
    position: absolute;
    list-style: none;
    background: white;
    width: 105%;
    height: 84px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}
.menu li{
    padding: 5px;
}
.menu li:hover{
    background-color: aliceblue;
}
/* ------------------------------------------------------------------------------ */
.winner-announce{
    display: none;
    position: absolute;
    border-radius: 8px;
    padding: 0px 50px 50px 50px;
    width: 250px;
    height: 100px;
    background: rgb(143, 142, 142, 0.9);
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    justify-items: center;
    z-index: 60;
    grid-template-rows: 1fr 1fr;
}

.winner-announce p{

}
.winner-announce button{
    align-self: center;

}

.bg{
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 50;
}


@media only screen and (max-width: 650px){
    .board-container{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
      }
      .history-mode{
        width: 300px;
        height: 300px;
      }
}